<nav>
    <div class="logo">
        <img src="/images/iconoweb.png" alt="logo">
        <p>Geekshubs <br>
            Travels </p>
    </div>
    <ul>
        <a href="#destinos">
            <li>Destinos </li>
        </a>
        <a href="#quienesSomos">
            <li>Quién somos </li>
        </a>
        <a href="#dondeEstamos">
            <li>Donde estamos</li>
        </a>
    </ul>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white"><a href="#destinos">
                        Destinos
                    </a></h4>
            </div>
            <div class="bg-dark p-4">
                <h4 class="text-white"> <a href="#quienesSomos">
                        Quién somos
                    </a></h4>
            </div>
            <div class="bg-dark p-4">
                <h4 class="text-white"><a href="#destinos">
                        Donde estamos
                    </a></h4>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="user">
        <img class="profilePicture" src="/images/profile.png" alt="profileImage">
        <img class="edit" src="/images/edit.png" alt="edit"/>
    {{#if name}}
        <div class="userName"> {{user.name}}</div>
        {{else}}
        <div class="userEmail"> {{user.email}}</div>
    {{/if}}

        <a class="logout" href="/logout" >LOG OUT</a>
        </div>
    </nav>
    <div class="verifiedMessage">{{#if message }}
         {{message}}
         {{/if}}</div>