<nav>
    <div class="logo">
        <img src="images/iconoweb.png" alt="logo">
        <p>Geekshubs <br>
            Travels </p>
    </div>
    <ul>
        <a href="#destinos">
            <li>Destinos </li>
        </a>
        <a href="#quienesSomos">
            <li>Quién somos </li>
        </a>
        <a href="#dondeEstamos">
            <li>Donde estamos</li>
        </a>
    </ul>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white"><a href="#destinos">
                        Destinos
                    </a></h4>
            </div>
            <div class="bg-dark p-4">
                <h4 class="text-white"> <a href="#quienesSomos">
                        Quién somos
                    </a></h4>
            </div>
            <div class="bg-dark p-4">
                <h4 class="text-white"><a href="#destinos">
                        Donde estamos
                    </a></h4>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                 aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="socialMedia">
        <a href="https://twitter.com/geeks_academy" target="_blank"><img src="images/tt-ico.png" alt="Twitter"></a>
        <a href="#"> <img src="images/ws-ico.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="images/fb-ico.png"
                alt="Facebook"></a>
        <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="images/Instagram.png"
                alt="Instagram"></a>
        <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="images/linkedIn.png"
                alt="linkedIn"></a>
        <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="images/YT.png" alt="Youtube"></a>
    </div>
</nav>