<div class="bglogin">
    <form class="login" method="POST" action="users/login" >
        <input type="email" name="email" class="email" placeholder="Introduce your email*" required="true">
        <input type="password" name="password" class="password" placeholder="Enter your password*" minlength="8" required="true">
        <label class="passwordRule">Wrong Credentials.</label>
        <button type="submit" class="submit" value="Submit"> LOG IN</button>
    </form>
</div>