<div class="bgregister">
    <form class="register">
        <input type="text" class="name" placeholder="Introduce your name">
        <input type="text" class="lastname" placeholder="Introduce your lastname">
        <input type="email" class="email" placeholder="Introduce your email">
        <input type="password" class="password" placeholder="Introduce your password">
        <label class="terms"> <input type="checkbox" required="true" /> By clicking on Sign up, you agree to David
            Travel Agency's Terms and Conditions of Use.*
            <span class="checkmark"></span></label>
        <button type="submit" class="submit" value="Submit"> SIGN UP</button>
    </form>
</div>