* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    line-height: 1.6;
}

/* ----NAV---- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(0, 17, 34);
    padding: 0.62em;
    z-index: 70;

    ul {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
            display: none;
        }
    }

    a {
        color: white;
        font-style: italic;
    }

    li {
        font-size: 1.4em;
        text-shadow: 2px 2px 0.1em black, 3px 5px 0.5em black, -2px -2px 0.4em black;
        margin-left: 1em;
        list-style: none;

        transition: all ease-in-out 500ms;
    }
}

a:hover {
    text-decoration: none;
}

.logo {
    img {
        padding: 0.5em 0 0.5em;
        display: block;
        height: 3em;
    }

    p {
        margin: 0;
        padding-bottom: 0.5em;
        font-size: 1em;
        line-height: 1;
        font-weight: bold;
        color: #ffffff;
        text-align: center
    }
}

.bg-dark {
    background-color: rgba(0, 195, 255, 0.11) !important;

    @media (min-width: 768px) {
        display: none
    }
}

.socialMedia {
    margin: 0.4em;

    img {
        width: 2em;
    }

    @media (max-width: 768px) {
        display: none
    }
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2em;
    background-repeat: no-repeat;
    background-image: url('/images/nathan-anderson-316188-unsplash.jpg');
    background-size: cover;

    h1 {
        font-weight: bold;
        font-size: 4em;
    }

    p {
        margin-bottom: 1em;
        font-size: 2.5em;
    }

    button {
        all: unset;
        display: inline;
        color: black;
        background-color: #fef200;
        font-style: italic;
        text-align: center;
        font-size: 1.2em;
        padding: 0.6em;
    }
}

.destinos {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    @media (max-width: 768px) {
        display: none;
    }

    div {
        padding: 2em 0.5em 1em 0.5em;
    }
}


.destination {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
    transition: all ease-in-out 700ms;

    &:hover {
        opacity: 0.7;

    }

    p {
        font-size: 1.2em;
        text-align: left;
        padding: 0.5em 0 0.5em 0.5em;
        top: -1.65em;
        left: -0.42em;
        margin: 0 auto;
        position: relative;
        color: white;
        background-color: #141939;
        z-index: 2;
    }

    h3 {
        font-size: 2em;
        font-weight: bold;
        top: -2.55em;
        right: -3.11em;
        width: 40%;
        margin: 0 auto;
        position: relative;
        color: black;
        padding: 0.5em;
        background-color: #fef200;
        z-index: 3;
    }
}

#carouselExampleIndicators {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    @media (min-width: 768px) {
        display: none;
    }
}

.destinationCarrousel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0.5em;
    background-size: cover;
    height: 45vh;
    position: relative;
    transition: all ease-in-out 700ms;

    p {
        font-size: 1.2rem;
        text-align: left;
        font-weight: bold;
        padding: 0.5em 0 0.5em 0.5em;
        margin: 0 auto;
        position: relative;
        color: white;
        background-color: #141939;
        z-index: 2;
        width: 100%;
    }

    h3 {
        font-size: 2em;
        font-weight: bold;
        // top: -1.55em;
        width: 40%;
        margin: 0 auto;
        position: relative;
        color: black;
        padding: 0.5em;
        background-color: #fef200;
        z-index: 3;
    }
}

//-----------------------QUIENES SOMOS SECTION-----------------------//
.micro {
    background-size: cover;
    background-image: url('/images/travel_3.jpg');
    padding: 50px;

    @media (max-width: 768px) {
        padding: 0;

    }
}

.quien {
    background-color: whitesmoke;
    padding: 30px;
    text-align: justify;
    width: 40%;

    @media (max-width: 768px) {
        width: 100%;
    }

    hr {
        background-color: gold;
        height: 5px;
        width: 50%;
        float: left;
    }

    h1 {
        font-weight: bold;
        font-style: italic;
        font-size: 2em;
        color: darkblue;
    }

    p {
        color: darkblue;
        padding: 2em;
    }
}


.butto {
    width: 100%;
    text-align: center;

    button {
        font-weight: bold;
        background-color: darkblue;
        color: yellow;
        font-weight: bold;
        padding: 10px;

    }
}


/* CONTACT */
.contact {
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    padding: 4em 0 6em 1.4em;
    justify-content: center;

    @media (max-width: 768px) {
        display: none;

    }

    img {
        display: block;
    }


    button {
        all: unset;
        display: inline;
        font-style: italic;
        text-align: center;
        color: black;
        background-color: #fef200;
        font-size: 1.3em;
        padding: 0.6em;
    }

}

.contactForm {
    padding: 0 0 0 4em;
    flex-wrap: wrap;


    input {
        font-size: 0.8em;
        margin: 0.6em;
        width: 40%;
        padding: 0.6em;
    }

    textarea {
        font-size: 0.8em;
        margin: 0.6em;
        padding: 0.8em;
        width: 83%;
    }
}

// .fieldsWarning {
//     font-size: .7em;
// }

/*------- Footer---------*/
footer {
    padding: 1.5em;
    font-size: 1.4em;
    color: white;
    background-color: #141939;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 5em;
        flex-direction: column;
    }

    input {
        font-size: 0.6em;
        padding: 0.5em;
        width: 80%;

    }

    button {
        all: unset;
        display: inline;
        color: black;
        text-align: center;
        background-color: #fef200;
        font-size: 1.3em;
        padding: 0.6em;
    }



    .horario {
        padding-top: 2em;
        font-size: 0.8em;
    }

    .ayuda,
    .informacion,
    .suscribete {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media (max-width: 768px) {
            display: flex;
            margin: 0 auto;
            margin-top: 2em;
        }
    }

    .informacion {
        @media (max-width: 768px) {
            display: none;
        }
    }

    p {
        padding-left: 0.8em;
    }
}

.copyright {
    border: solid black 0.1em;
    padding: 1em;
    text-align: center;
    color: white;
    background-color: #141939;
    margin: 0 auto;
}

.bgregister,
.bglogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('/images/airportBG.png');
    min-height: 50vh;
}

.register,
.login {
    margin: 2em;
    padding: 1em;
    display: flex;
    border-radius: 1.7em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4a9effbb;
    transition: all ease-in-out 0.7s;

    input:not([type="checkbox"]) {
        all: unset;
        border-radius: 0.5em;
        color: rgb(0, 29, 46);
        margin: 1.5em;
        padding: 1em;
        background-color: #0182fae8;
        transition: all ease-in-out 0.7s;
    }


    .terms {
        display: block;
        position: relative;
        padding-left: 35px;
        margin: 1.5em;
        cursor: pointer;
        user-select: none;
        text-align: justify;
        font-weight: bold;
        max-width: 26em;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.checkmark {
                background-color: rgb(0, 68, 170);

                &:after {
                    display: block;
                }
            }
        }

        &:hover input~.checkmark {
            background-color: rgb(91, 143, 255);
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.5em;
            width: 1.5em;
            background-color: rgb(177, 217, 255);

            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 2px;
                width: 7.5px;
                height: 15px;
                border: solid rgb(203, 234, 255);
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }

        }
    }

    button {
        all: unset;
        background-color: rgb(0, 43, 161);
        color: rgb(131, 185, 255);
        border-radius: .7em;
        font-weight: bold;
        padding: 1em;
        margin-bottom: 1.5em;
    }
}
.passwordRule,
.passwordRule2 {
    color: rgb(160, 0, 0);
    font-weight: bold;
    font-style: italic;
    display: none;
    margin: -0.8em;
}

.pos-f-t {
    order: 1;
}

::placeholder {
    color: rgb(0, 44, 58);
    font-style: italic;
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-between;

    .userName,
    .userEmail {
        padding: 0.5em;

        @media (max-width: 768px) {
            display: none
        }
    }

    .profilePicture {
        position: relative;
        display: block;
        width: 5em;
        height: 5em;
        border-radius: 50em;
        @media (max-width: 768px) {
            width: 3em;
            height: 3em;
        }
    }

    .edit {
        cursor: pointer;
        position: absolute;
        width: 5em;
        height: 5em;
        top:0.9em;
        opacity: 0;
        z-index: 3;
        transition: all ease-in-out 500ms;

        &:hover {
            opacity: 0.5;
        }

        @media (max-width:768px) {
            width: 3em;
            height: 3em;
        }
    }


}

.logButton {
    all: unset;
    text-align: center;
    cursor: pointer;
    background-color: rgb(106, 145, 255);
    color: rgb(2, 58, 131);
    border-radius: .7em;
    font-weight: bold;
    padding: 0.7em;
    margin: 0.8em;
    transition: all ease-in-out 500ms;

    &:hover {

        color: rgb(96, 170, 255);
        background-color: rgb(0, 56, 102);
    }
}
.bgProfile{

    padding: 1.5em;
    background-image: url('/images/profile.jpg');
    background-size: cover;
}
.profile {
    display: flex;
    justify-content: space-around   ;
    padding: 2em;
    border-radius: 1.8em;
    background-color: #40c3ffa6;
    div{
        position: relative;
        top:0;
    }
    .profileUser {
        display: block;
        cursor: pointer;
        border-radius: 50em;
        height: 25em;
    }
    .edit {
        cursor: pointer;
        position: absolute;
        top:0;
        border-radius: 50em;
        opacity: 0;
        height: 25em;
        z-index: 3;
        transition: all ease-in-out 500ms;

        &:hover {
            opacity: 0.4;
        }

    }

    input {
        all: unset;
        padding: 1em;
        margin: 1em;
        font-weight: bold;
        color: #b8f7ff;
        border-radius: 0.5em;
        background-color: #006effb0;
    }

    .updateProfile {
        display: flex;
        flex-direction: column;
    }

}

.messageInfo {
    text-align: center;
    font-weight: bold;
    padding: 0.4em;
    font-size: 1.4em;
    background-color: rgba(131, 255, 148, 0.384);
}

.messageWarn {
    text-align: center;
    font-weight: bold;
    padding: 0.4em;
    font-size: 1.4em;
    background-color: rgba(255, 140, 8, 0.589);
}

.messageError {
    text-align: center;
    font-weight: bold;
    padding: 0.4em;
    font-size: 1.4em;
    background-color: rgba(253, 0, 0, 0.384);
}