* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.6;
}

/* ----NAV---- */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #001122;
  padding: 0.62em;
  z-index: 70;
}
nav ul {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav a {
  color: white;
  font-style: italic;
}
nav li {
  font-size: 1.4em;
  text-shadow: 2px 2px 0.1em black, 3px 5px 0.5em black, -2px -2px 0.4em black;
  margin-left: 1em;
  list-style: none;
  transition: all ease-in-out 500ms;
}

a:hover {
  text-decoration: none;
}

.logo img {
  padding: 0.5em 0 0.5em;
  display: block;
  height: 3em;
}
.logo p {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.bg-dark {
  background-color: rgba(0, 195, 255, 0.11) !important;
}
@media (min-width: 768px) {
  .bg-dark {
    display: none;
  }
}

.socialMedia {
  margin: 0.4em;
}
.socialMedia img {
  width: 2em;
}
@media (max-width: 768px) {
  .socialMedia {
    display: none;
  }
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2em;
  background-repeat: no-repeat;
  background-image: url("/images/nathan-anderson-316188-unsplash.jpg");
  background-size: cover;
}
header h1 {
  font-weight: bold;
  font-size: 4em;
}
header p {
  margin-bottom: 1em;
  font-size: 2.5em;
}
header button {
  all: unset;
  display: inline;
  color: black;
  background-color: #fef200;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
  padding: 0.6em;
}

.destinos {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .destinos {
    display: none;
  }
}
.destinos div {
  padding: 2em 0.5em 1em 0.5em;
}

.destination {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 18em;
  width: 20em;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 700ms;
}
.destination:hover {
  opacity: 0.7;
}
.destination p {
  font-size: 1.2em;
  text-align: left;
  padding: 0.5em 0 0.5em 0.5em;
  top: -1.65em;
  left: -0.42em;
  margin: 0 auto;
  position: relative;
  color: white;
  background-color: #141939;
  z-index: 2;
}
.destination h3 {
  font-size: 2em;
  font-weight: bold;
  top: -2.55em;
  right: -3.11em;
  width: 40%;
  margin: 0 auto;
  position: relative;
  color: black;
  padding: 0.5em;
  background-color: #fef200;
  z-index: 3;
}

#carouselExampleIndicators {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
@media (min-width: 768px) {
  #carouselExampleIndicators {
    display: none;
  }
}

.destinationCarrousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0.5em;
  background-size: cover;
  height: 45vh;
  position: relative;
  transition: all ease-in-out 700ms;
}
.destinationCarrousel p {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
  margin: 0 auto;
  position: relative;
  color: white;
  background-color: #141939;
  z-index: 2;
  width: 100%;
}
.destinationCarrousel h3 {
  font-size: 2em;
  font-weight: bold;
  width: 40%;
  margin: 0 auto;
  position: relative;
  color: black;
  padding: 0.5em;
  background-color: #fef200;
  z-index: 3;
}

.micro {
  background-size: cover;
  background-image: url("/images/travel_3.jpg");
  padding: 50px;
}
@media (max-width: 768px) {
  .micro {
    padding: 0;
  }
}

.quien {
  background-color: whitesmoke;
  padding: 30px;
  text-align: justify;
  width: 40%;
}
@media (max-width: 768px) {
  .quien {
    width: 100%;
  }
}
.quien hr {
  background-color: gold;
  height: 5px;
  width: 50%;
  float: left;
}
.quien h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  color: darkblue;
}
.quien p {
  color: darkblue;
  padding: 2em;
}

.butto {
  width: 100%;
  text-align: center;
}
.butto button {
  font-weight: bold;
  background-color: darkblue;
  color: yellow;
  font-weight: bold;
  padding: 10px;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: row;
  background-color: #fcfcfc;
  padding: 4em 0 6em 1.4em;
  justify-content: center;
}
@media (max-width: 768px) {
  .contact {
    display: none;
  }
}
.contact img {
  display: block;
}
.contact button {
  all: unset;
  display: inline;
  font-style: italic;
  text-align: center;
  color: black;
  background-color: #fef200;
  font-size: 1.3em;
  padding: 0.6em;
}

.contactForm {
  padding: 0 0 0 4em;
  flex-wrap: wrap;
}
.contactForm input {
  font-size: 0.8em;
  margin: 0.6em;
  width: 40%;
  padding: 0.6em;
}
.contactForm textarea {
  font-size: 0.8em;
  margin: 0.6em;
  padding: 0.8em;
  width: 83%;
}

/*------- Footer---------*/
footer {
  padding: 1.5em;
  font-size: 1.4em;
  color: white;
  background-color: #141939;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 768px) {
  footer {
    padding: 5em;
    flex-direction: column;
  }
}
footer input {
  font-size: 0.6em;
  padding: 0.5em;
  width: 80%;
}
footer button {
  all: unset;
  display: inline;
  color: black;
  text-align: center;
  background-color: #fef200;
  font-size: 1.3em;
  padding: 0.6em;
}
footer .horario {
  padding-top: 2em;
  font-size: 0.8em;
}
footer .ayuda,
footer .informacion,
footer .suscribete {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 768px) {
  footer .ayuda,
footer .informacion,
footer .suscribete {
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
  }
}
@media (max-width: 768px) {
  footer .informacion {
    display: none;
  }
}
footer p {
  padding-left: 0.8em;
}

.copyright {
  border: solid black 0.1em;
  padding: 1em;
  text-align: center;
  color: white;
  background-color: #141939;
  margin: 0 auto;
}

.bgregister, .bglogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("/images/airportBG.png");
  min-height: 50vh;
}

.register,
.login {
  margin: 2em;
  padding: 1em;
  display: flex;
  border-radius: 1.7em;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4a9effbb;
  transition: all ease-in-out 0.7s;
}
.register input:not([type=checkbox]),
.login input:not([type=checkbox]) {
  all: unset;
  border-radius: 0.5em;
  color: #001d2e;
  margin: 1.5em;
  padding: 1em;
  background-color: #0182fae8;
  transition: all ease-in-out 0.7s;
}
.register .passwordRule, .register .passwordRule2,
.login .passwordRule,
.login .passwordRule2 {
  color: #a00000;
  font-weight: bold;
  font-style: italic;
  display: none;
  margin: -0.8em;
}
.register .terms,
.login .terms {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 1.5em;
  cursor: pointer;
  user-select: none;
  text-align: justify;
  font-weight: bold;
  max-width: 26em;
}
.register .terms input,
.login .terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.register .terms input:checked ~ .checkmark,
.login .terms input:checked ~ .checkmark {
  background-color: #0044aa;
}
.register .terms input:checked ~ .checkmark:after,
.login .terms input:checked ~ .checkmark:after {
  display: block;
}
.register .terms:hover input ~ .checkmark,
.login .terms:hover input ~ .checkmark {
  background-color: #5b8fff;
}
.register .terms .checkmark,
.login .terms .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #b1d9ff;
}
.register .terms .checkmark:after,
.login .terms .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 2px;
  width: 7.5px;
  height: 15px;
  border: solid #cbeaff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.register button,
.login button {
  all: unset;
  background-color: #002ba1;
  color: #83b9ff;
  border-radius: 0.7em;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1.5em;
}

.pos-f-t {
  order: 1;
}

::placeholder {
  color: #002c3a;
  font-style: italic;
  font-weight: bold;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.user .userName,
.user .userEmail {
  padding: 0.5em;
}
@media (max-width: 768px) {
  .user .userName,
.user .userEmail {
    display: none;
  }
}
.user .profilePicture {
  display: block;
  width: 5em;
  height: 5em;
}
@media (max-width: 768px) {
  .user .profilePicture {
    width: 3em;
    height: 3em;
  }
}
.user .edit {
  cursor: pointer;
  position: absolute;
  width: 5em;
  height: 5em;
  opacity: 0;
  z-index: 3;
  transition: all ease-in-out 500ms;
}
.user .edit:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .user .edit {
    width: 3em;
    height: 3em;
  }
}
.user .logout {
  all: unset;
  cursor: pointer;
  background-color: #6a91ff;
  color: #023a83;
  border-radius: 0.7em;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  transition: all ease-in-out 500ms;
}
.user .logout:hover {
  color: #002a5a;
  background-color: #058fff;
}

.verifiedMessage {
  position: absolute;
  border-radius: 0.3em;
  font-weight: bold;
  padding: 0.4em;
  font-size: 1.4em;
  background-color: rgba(131, 255, 148, 0.384);
}

/*# sourceMappingURL=style.css.map */
